<!DOCTYPE html>
<html lang="de">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.0.4/dist/vuetify.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar color="primary" app>
        <v-toolbar-title class="headline">
          <span>LED</span>
          <span class="font-weight-light">MATRIX</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu :nudge-width="100">
          <template v-slot:activator="{ on }">
            <v-toolbar-title v-on="on" :style="{ cursor: 'pointer'}">
              <span>{{ modeNames[currentMode] }}</span>
              <v-icon dark>arrow_drop_down</v-icon>
            </v-toolbar-title>
          </template>
  
          <v-list>
            <v-list-item
              v-for="mode in modeNames.length"
              :key="mode"
              @click="changeMode(mode - 1)"
            >
              <v-list-item-title>{{ modeNames[mode - 1] }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <animation-view v-if="currentMode === 0"></animation-view>
        </v-container>
      </v-content>

      <v-footer height="auto" app>
        <control-bar></control-bar>
      </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.4/dist/vuetify.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
